@charset "UTF-8";
/* Schrift Einstellungen */
#einstellungen ul li a {
    font-family: "Lato";
}
/* Styling Map */
#map-page, #map-canvas {
    height: 50%;
    padding: 0;
}
/* Styling Buttons */
#logout a, #reset a {
    background-color: #332112;
    color: #FFFFFF;
}