@charset "utf-8";
/* CSS Document */
/* Einbindung Schrift */
* {
	font-family: "Lato";
}
/* Header Styling */
#header h3 {
	font-size: 25px;
    cursor: default;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header a {
	background-color: transparent;
	border-color: transparent;
	width: 60px;
	height: 55px;
	border-radius: 0;
}
/* Content index.html Styling */
#content_index {
	display: flex;
	justify-content: center;
	margin: 20vh 0 0 0;
}

#content_index a {
	background-color: #332112;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 2px 0 #937057;
}

#content_index a:active {
	background-color: #937057;
	box-shadow: 2px 2px 2px 0 #d6a07a;
}

#content_index img {
	height: 80px;
	width: 80px;
}

#kontakt_text {
    margin: 0 20px 0 20px;
    text-align: center;
}
#legal_content {
    margin: 0 30px 0 30px;
}
.darkUser {
    background-color: rgba(20,20,20,0.7);
    border-radius: 4%;
}