@charset "utf-8";
.hidden {
    display: none;
}

#content_scan {
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 75px;
    grid-template-columns: 15px repeat(7, 1fr) 15px;
    display: -ms-grid;
    -ms-grid-rows: 1fr 75px;
    -ms-grid-columns: 1fr;
}

#feed {
    grid-column: 1/10;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    width: 100%;
    height: 100%;
    background-image: url(../img/camBG.png);
    background-size: cover;
    background-position: center;
    background-color: black;
}

#errorContainer {
    grid-column: 1/10;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

#errorText {
    color: #fff;
    text-align: center;
    text-shadow: none;
    font-size: 1.1em;
    width: 100%;
}

#camFooter {
    background-color: rgba(15, 9, 5, .2);
    z-index: 1;
    grid-row: 2/3;
    grid-column: 1/10;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#uploadDiv {
    width: 40px;
    height: 40px;
    background-color: #332112;
    border: 3px solid lightgray;
    border-radius: 50%;
    background-image: url(../img/upload.png);
    background-position: center;
    background-size: contain;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transition-duration: 0.1s;
}

#uploadDiv:active {
    width: 34px;
    height: 34px;
    border: 6px solid lightgray;
}

#shutter {
    box-shadow: none;
    width: 60px;
    height: 60px;
    color: #fff;
    border: 5px solid lightgray;
    text-shadow: none;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#shutter:active {
    box-shadow: none;
    width: 68px;
    height: 68px;
    border: 9px solid #332112;
}

#photo {
    width: 40px;
    height: 40px;
    background-color: #332112;
    border: 3px solid lightgray;
    border-radius: 50%;
    background-image: url(../img/gallery.png);
    background-position: center;
    background-size: contain;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#photo:active {
    width: 34px;
    height: 34px;
    border: 6px solid lightgray;
}