@charset "utf-8";
#content_scan {
	background-color: grey;
	display: grid;
	grid-template-rows: 60% 10%;
	grid-template-columns: 20px repeat(7, 1fr) 20px;
	width: 100%;
}
#camContainer {
	width: 100%;
	background-color: blue;
	grid-column: 2/9;
	grid-row: 1/2;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
#camFooter {
	background-color: yellow;
	grid-row: 2/3;
	grid-column: 2/9;
	display: flex;
	justify-content: space-between;
}
#camFooter div {
	width: 60px;
	height: 60px;
	background-color: rosybrown;
}
#shutter {
	width: 60px;
	height: 60px;
	color: #fff;
	background-color: #332112;
	border-radius: 50%;
}
#photo {
	width: 60px;
	height: 60px;
	background-image: url(../img/placeholder_cam.png);
	background-size: cover;
}
#img_cache {
	display: none;
}
